@import url("https://cdn.jsdelivr.net/gh/taevel02/typeface-arita/arita.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@theme {
  /* --font-family-sans: "Inter", sans-serif ; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

@layer base {
  :root {
    --content-width: 640px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;

  color: var(--foreground);
  background: var(--background);
  /* font-family: "Arita Buri, sans-serif"; */
  font-family: "Arita Buri";
}

h1,
h2 {
  @apply font-bold;
}

.internal-link,
.external-link {
  @apply underline decoration-1 underline-offset-4 hover:decoration-transparent;
}
.external-link::after {
  @apply m-0 inline-block h-3.5 w-3.5;
  content: "";
  background: url('data:image/svg+xml;utf8,<svg color="%23464646" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6m0 0H9m9 0v9"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-selected:hover {
  @apply bg-slate-100 rounded;
}
