@import url("https://cdn.jsdelivr.net/gh/taevel02/typeface-arita/arita.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@theme {
  /* --font-family-sans: "Inter", sans-serif ; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

@layer base {
  :root {
    --content-width: 640px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;

  color: var(--foreground);
  background: var(--background);
  /* font-family: "Arita Buri, sans-serif"; */
  font-family: "Arita Buri";
}
